html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

div {
    border: 2px red solid;
}

img{
    height: 100%;
}

input{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    background-color: #e4ddf4;
    height: 1.5em;
}

.wrapper, 
.sidebar,
.navbar,
.content-grid,
.logo-grid,
.nav-grid,
.options-grid {
    display: grid;
}

.wrapper{
    grid-template-columns: 300px 4fr;
    grid-template-rows: 200px 1fr;
    height: 100%;
}

/* Sidebar Styles */

.sidebar{
    grid-row: 1/-1;
    grid-template-rows: 100px minmax(min-content,3fr) minmax(min-content,5fr);
    gap: 60px;
    background-color: rgba(179, 25, 66, 0.8);
    color: white;
}

.logo-grid {
    grid-template-columns: 1fr 2fr;
}

.logo{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.name{
    display: grid;
    align-items: center;
    justify-content: center;
}

.nav-grid{
    grid-template-rows: repeat(6, minmax(min-content, 70px));
}

.nav-button{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 40px;
    width: 100%;
    padding: 10px;
}

.image,
.nav-text {
    height: 100%;
}

.nav-text {
    display: grid;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.options-grid{
    grid-template-rows: repeat(3, minmax(min-content, 60px));
}


/* Nav Bar Styles */

.navbar{
    grid-template-rows: minmax(min-content,1.25fr) minmax(min-content,2fr);
}

.searchbar{
    display: grid;
    grid-template-columns: auto minmax(300px,1fr) repeat(3, auto);
    align-items: center;
    gap: 10px;
}

.icon{
    height: 35%;
}

#notification-icon{
    margin-left: min(150px, 10vw);
}

#small-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;





